
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.topContainer{
  background-color: #F5F5F5;
  border-bottom: 1px solid #E5E5E5;
}

#searchGithub{
  width: 350px;
  color: #CECECE;
}

.fa-github{
  font-size: 30px;
}

.headerLinks{
  color: black;
  font-weight: bold;
}

.repoBar{
  margin-top: 30px;
}

.repoBarLinks{
  color: #767676;
  font-size: 16px;
}

#searchBox-repos{
  width: 350px;
  color: #CECECE;
}

#newButton{
  font-weight: bold;
  color: white;
  background-color: #67B74B;
}


.language{


  &::before{
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
  }
  &.JavaScript::before{
    background: #F1E05A;
  }
  &.CSS::before{
    background: #563D7C;
  }
  &.HTML::before{
    background: #E44B23;
  }
}

.fa-star{
  color: #767676;
}

#avatarImg{
  height: 35px;
  width: 35px;
}

#avatar{
  margin-top: 15px;
}
